{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Upload Image</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                    
                    {% if uploaded_image %}
                    <div class="mt-4">
                        <h4>Uploaded Image:</h4>
                        <img src="{{ uploaded_image.url }}" alt="Uploaded Image" class="img-fluid mt-2">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 